# UI
streamlit>=1.35

streamlit>=1.35
request 
pandas
numpy
openpyxl
git+https://github.com/streamlit/gsheets-connection

# Google Drive integration (future-proof)
google-api-python-client>=2.133.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0

