# UI
streamlit>=1.35

# Data handling
streamlit>=1.36
pandas>=2.0
numpy>=1.26
gspread>=6.0
gspread-dataframe>=3.3.1
google-auth>=2.30
openpyxl>=3.1.2
GSheetsConnection

# Google Drive integration (future-proof)
google-api-python-client>=2.133.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0

